
* {
    color: #274249;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    height: 180px;
    background: #c52832;
}

main {
    height: calc(100% - 180px);
    background: #36be73;
}

footer {
    height: 0;
}
