/* test page styles: */

.box {
    width: 150px;
    height: 75px;
    position: relative;
    top: 50px;
    left: 50px;
    float: left;
    display: inline-block;
}

#A {
    background: #2fc58c;
}

#B {
    background: #c5394a;
    width: 0;
}

#C {
    background: #34344a;
    width: 0;
}

